/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	/* the follow is the code to have the image display as a full page */
	background: url('../images/eastern-roman-empire.png') no-repeat center center fixed;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	/* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	background: #000000;
	width: 400px;
	padding: 15px;
}

h1 {
	font-size: 8-px;
}

h2 {
	font-size: 24px;
	background: #66023c;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}

a {
	color: #1ea896;
	text-decoration: none;
}

img {
	width: 32px;
	height: 32px;
}